In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('HR RAW DATA.csv')
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,...,20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,...,33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,...,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,...,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,...,19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

`Nombre de las columnas`

In [5]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'employeecount', 'employeenumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NUMCOMPANIESWORKED', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TOTALWORKINGYEARS', 'TrainingTimesLastYear',
       'WORKLIFEBALANCE', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YEARSWITHCURRMANAGER',
       'SameAsMonthlyIncome', 'DateBirth', 'Salary', 'RoleDepartament',
       'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [6]:
# Variables categoricas con las númericas
df.describe(include= 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,1614.0,NaN,NaN,NaN,806.5,466.065982,0.0,403.25,806.5,1209.75,1613.0
Age,1614,54,35,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Attrition,1614,2,No,1355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,842,3,travel_rarely,586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1614,849,nan$,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,302,3,Research & Development,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1614.0,NaN,NaN,NaN,4.527261,14.591913,-49.0,2.0,5.0,11.0,29.0
Education,1614.0,NaN,NaN,NaN,2.925031,1.022357,1.0,2.0,3.0,4.0,5.0
EducationField,869,6,Life Sciences,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employeecount,1614.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
employeenumber,1183,1079,"482,0",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnvironmentSatisfaction,1614.0,NaN,NaN,NaN,4.294919,6.993559,1.0,2.0,3.0,4.0,49.0
Gender,1614.0,NaN,NaN,NaN,0.398389,0.489718,0.0,0.0,0.0,1.0,1.0
HourlyRate,1614,72,Not Available,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobInvolvement,1614.0,NaN,NaN,NaN,2.739777,0.711567,1.0,2.0,3.0,3.0,4.0
JobLevel,1614.0,NaN,NaN,NaN,2.068154,1.101344,1.0,1.0,2.0,3.0,5.0
JobRole,1614,1579,mANager,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1614.0,NaN,NaN,NaN,2.738538,1.106163,1.0,2.0,3.0,4.0,4.0
MaritalStatus,963,5,Married,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,771,668,"6347,0",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyRate,1614.0,NaN,NaN,NaN,14284.495663,7110.414585,2094.0,8001.0,14248.5,20364.0,26999.0
NUMCOMPANIESWORKED,1614.0,NaN,NaN,NaN,2.673482,2.506152,0.0,1.0,2.0,4.0,9.0
Over18,713,1,Y,713,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,938,2,No,682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1614.0,NaN,NaN,NaN,15.165428,3.64861,11.0,12.0,14.0,18.0,25.0
PerformanceRating,1419,2,"3,0",1205,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RelationshipSatisfaction,1614.0,NaN,NaN,NaN,2.704461,1.079031,1.0,2.0,3.0,4.0,4.0
StandardHours,419,1,"80,0",419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,1614.0,NaN,NaN,NaN,0.791202,0.842396,0.0,0.0,1.0,1.0,3.0
TOTALWORKINGYEARS,1088,40,"10,0",144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TrainingTimesLastYear,1614.0,NaN,NaN,NaN,2.809789,1.297765,0.0,2.0,3.0,3.0,6.0
WORKLIFEBALANCE,1506,4,"3,0",913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsAtCompany,1614.0,NaN,NaN,NaN,7.13259,6.124237,0.0,3.0,5.0,9.0,40.0
YearsInCurrentRole,34,10,"2,0",11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsSinceLastPromotion,1614.0,NaN,NaN,NaN,2.245973,3.235665,0.0,0.0,1.0,3.0,15.0
YEARSWITHCURRMANAGER,1614.0,NaN,NaN,NaN,4.22057,3.562695,0.0,2.0,3.0,7.0,17.0
SameAsMonthlyIncome,771,668,"6347,0",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DateBirth,1614.0,NaN,NaN,NaN,1986.076208,9.101332,1963.0,1980.0,1987.0,1993.0,2005.0
Salary,1614,1,1000000000$,1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RoleDepartament,302,301,MaNAgeR - Sales,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NUMBERCHILDREN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RemoteWork,1614,5,1,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
 
'Age' # Revisar los años que estan en letras, porque son de números 
'Attrition' # OK
'BusinessTravel' # revisar los NAN
'DailyRate' # OK
'Department' # revisar los NAN
'DistanceFromHome' # Revisar porque son (-)negativos y otros (+)positivos 
'Education' # OK
'EducationField' # Revisar los NAN
'employeecount' # Ok 

'EnvironmentSatisfaction' # Ok 
'Gender' # Cambiar los valores, estan en 0 y 1 y hay que ponerlos M - F
'HourlyRate' # OK
'JobInvolvement' # OK
'JobLevel' # OK
'JobRole' # Cambiar palabras con minusculas y mayusculas 
'JobSatisfaction' # OK
'MaritalStatus' # revisar los NAN
'MonthlyIncome' # revisar los NAN
'MonthlyRate' # OK

'NUMCOMPANIESWORKED' # OK
'Over18' # revisar los NAN
'OverTime' # revisar los NAN
'PercentSalaryHike' # OK
'PerformanceRating' # revisar los NAN
'RelationshipSatisfaction' # OK
'StandardHours' # revisar los NAN
'StockOptionLevel' # OK
'TOTALWORKINGYEARS' # revisar los NAN
'TrainingTimesLastYear' # OK

'WORKLIFEBALANCE' # revisar los NAN
'YearsAtCompany' # OK
'YearsInCurrentRole' # revisar los NAN
'YearsSinceLastPromotion' # OK
'YEARSWITHCURRMANAGER' # OK
'SameAsMonthlyIncome' # revisar los NAN
'DateBirth' # OK
'Salary' # OK
'RoleDepartament' # revisar los NAN, y las mayus y minusculas tambien porque losnombre se repiten 
'NUMBERCHILDREN' # revisar los NAN
'RemoteWork' #  Revisa los False y los Trues porque solo hay SI

'RemoteWork'

In [8]:
age_dict = list(df['Age'].unique())  # algunos no son números sino letras, hay que cambiarlos
print(age_dict)
print(df['Age'].dtype)

['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55', '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53', '43', '60', '32', '37', '49', '39', '50', '44', '30', 'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28', '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24', 'thirty', '23', '22', '21', '20', 'twenty-six', '19', 'thirty-seven', '18', 'thirty-two', 'twenty-four']
object

In [67]:
income1_dict = list(df['MonthlyIncome'].unique())  # algunos no son números sino letras, hay que cambiarlos
print(income1_dict)
print(df['Age'].dtype)

['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0', '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0', '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0', '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0', '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0', '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0', '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0', '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0', '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0', '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0', '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0', '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0', '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0', '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0', '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0', '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0', '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0', '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0', '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0', '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0', '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0', '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0', '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0', '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0', '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0', '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0', '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0', '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0', '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0', '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0', '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0', '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0', '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0', '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0', '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0', '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0', '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0', '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0', '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0', '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0', '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0', '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0', '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0', '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0', '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0', '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0', '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0', '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0', '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0', '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0', '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0', '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0', '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0', '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0', '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0', '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0', '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0', '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0', '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0', '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0', '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0', '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0', '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0', '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0', '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0', '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0', '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0', '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0', '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0', '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0', '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0', '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0', '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0', '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0', '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0', '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0', '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0', '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0', '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0', '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0', '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0', '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0', '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0', '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0', '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0', '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0', '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0', '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0', '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0', '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0', '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0', '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0', '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0', '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0', '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0', '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0', '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0', '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0', '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0', '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0', '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0', '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0', '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0', '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0', '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0', '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0', '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0', '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0', '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0', '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0', '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0', '2858,0', '1129,0', '19431,0']
object

In [68]:
income1_null=df.isnull().sum()

In [69]:
income1_null

Unnamed: 0                     0
Age                            0
Attrition                      0
BusinessTravel               772
DailyRate                      0
Department                  1312
DistanceFromHome               0
Education                      0
EducationField               745
employeecount                  0
employeenumber               431
EnvironmentSatisfaction        0
Gender                         0
HourlyRate                     0
JobInvolvement                 0
JobLevel                       0
JobRole                        0
JobSatisfaction                0
MaritalStatus                651
MonthlyIncome                843
MonthlyRate                    0
NUMCOMPANIESWORKED             0
Over18                       901
OverTime                     676
PercentSalaryHike              0
PerformanceRating            195
RelationshipSatisfaction       0
StandardHours               1195
StockOptionLevel               0
TOTALWORKINGYEARS            526
TrainingTimesLastYear          0
WORKLIFEBALANCE              108
YearsAtCompany                 0
YearsInCurrentRole          1580
YearsSinceLastPromotion        0
YEARSWITHCURRMANAGER           0
SameAsMonthlyIncome          843
DateBirth                      0
Salary                         0
RoleDepartament             1312
NUMBERCHILDREN              1614
RemoteWork                     0
dtype: int64

# Posible code para cambiar los str a int, esta solo los identifica

In [9]:
# Obtener los valores únicos de la columna 'Age'
age_dict = list(df['Age'].unique())

# Función para convertir cadenas a números
def convert_to_number(age):
    try:
        return int(age)
    except ValueError:
        return f"Error converting '{age}'"

# Aplicar la función de conversión a la lista de edades únicas
converted_ages = [convert_to_number(age) for age in age_dict]

# Separar las edades convertidas y los errores
converted_ages_only1 = [age for age in converted_ages if isinstance(age, int)]
errors = [age for age in converted_ages if isinstance(age, str)]

# Mostrar los resultados
print("Converted Ages:")
print(converted_ages_only1)

print("\nErrors:")
print(errors)

Converted Ages:
[51, 52, 42, 47, 46, 48, 59, 41, 56, 38, 55, 40, 58, 35, 45, 33, 36, 34, 53, 43, 60, 32, 37, 49, 39, 50, 44, 30, 29, 31, 54, 57, 27, 28, 26, 25, 24, 23, 22, 21, 20, 19, 18]

Errors:
["Error converting 'forty-seven'", "Error converting 'fifty-eight'", "Error converting 'thirty-six'", "Error converting 'fifty-five'", "Error converting 'fifty-two'", "Error converting 'thirty-one'", "Error converting 'thirty'", "Error converting 'twenty-six'", "Error converting 'thirty-seven'", "Error converting 'thirty-two'", "Error converting 'twenty-four'"]

In [10]:
len(converted_ages_only1)

43

# Esta opción nos lo devuelve convertido en int todos los datos qe antes erán str

In [11]:
import pandas as pd

# Supongamos que tienes un DataFrame con una columna 'Age'
data = {'Age': ['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55', '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53', '43', '60', '32', '37', '49', '39', '50', '44', '30', 'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28', '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24', 'thirty', '23', '22', '21', '20', 'twenty-six', '19', 'thirty-seven', '18', 'thirty-two', 'twenty-four']}
df_2 = pd.DataFrame(data)

# Obtener los valores únicos de la columna 'Age'
age_dict = list(df['Age'].unique())

# Diccionario para convertir palabras a números
word_to_number = {
    'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5,
    'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11,
    'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15,
    'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19,
    'twenty': 20, 'thirty': 30, 'forty': 40, 'fifty': 50, 'sixty': 60,
    'seventy': 70, 'eighty': 80, 'ninety': 90
}

# Función para convertir cadenas a números
def convert_to_number(age):
    try:
        # Primero intentamos convertir directamente a entero
        return int(age)
    except ValueError:
        # Si falla, intentamos convertir usando el diccionario
        words = age.split('-')
        number = 0
        for word in words:
            if word in word_to_number:
                number += word_to_number[word]
            else:
                return f"Error converting '{age}'"
        return number

# Aplicar la función de conversión a la lista de edades únicas
converted_ages = [convert_to_number(age) for age in age_dict]

# Separar las edades convertidas y los errores
converted_ages_only = [age for age in converted_ages if isinstance(age, int)]
errors = [age for age in converted_ages if isinstance(age, str)]

# Mostrar los resultados
print("Converted Ages:")
print(converted_ages_only)
print("\nErrors:")
print(errors)

Converted Ages:
[51, 52, 42, 47, 46, 48, 59, 41, 56, 38, 55, 40, 58, 35, 45, 33, 36, 34, 47, 53, 43, 60, 32, 37, 49, 39, 50, 44, 30, 58, 29, 31, 54, 57, 27, 36, 28, 26, 55, 25, 52, 31, 24, 30, 23, 22, 21, 20, 26, 19, 37, 18, 32, 24]

Errors:
[]

In [12]:
len(converted_ages_only)

54

In [13]:
attri_dict= list(df['Attrition'].unique())
print(attri_dict)

['No', 'Yes']

In [14]:
busi_dict= list(df['BusinessTravel'].unique()) # revisar los NAN
print(busi_dict)

[nan, 'travel_rarely', 'travel_frequently', 'non-travel']

In [15]:
daily_dict= list(df['DailyRate'].unique()) 
print(daily_dict)

['684,0$', '699,0$', '532,0$', '359,0$', '1319,0$', '117,0$', '1435,0$', '635,0$', '1276,0$', '840,0$', '247,0$', '1369,0$', '201,0$', '1360,0$', '692,0$', '1398,0$', '286,0$', '1402,0$', '819,0$', '884,0$', '1238,0$', '515,0$', '1223,0$', '202,0$', '928,0$', '607,0$', '266,0$', '429,0$', '589,0$', 'nan$', '1180,0$', '1282,0$', '776,0$', '665,0$', '526,0$', '1034,0$', '1403,0$', '1499,0$', '580,0$', '859,0$', '263,0$', '1376,0$', '885,0$', '1003,0$', '1321,0$', '394,0$', '1372,0$', '1333,0$', '228,0$', '737,0$', '823,0$', '667,0$', '301,0$', '573,0$', '1329,0$', '630,0$', '1063,0$', '1017,0$', '1296,0$', '939,0$', '1355,0$', '1448,0$', '200,0$', '1202,0$', '404,0$', '208,0$', '813,0$', '465,0$', '1189,0$', '1001,0$', '1394,0$', '161,0$', '288,0$', '682,0$', '1354,0$', '147,0$', '119,0$', '1413,0$', '452,0$', '334,0$', '1132,0$', '982,0$', '480,0$', '1099,0$', '672,0$', '1379,0$', '583,0$', '1492,0$', '1050,0$', '469,0$', '237,0$', '1440,0$', '1291,0$', '1157,0$', '1336,0$', '1224,0$', '735,0$', '1389,0$', '638,0$', '1240,0$', '194,0$', '1339,0$', '111,0$', '1469,0$', '470,0$', '1232,0$', '1249,0$', '798,0$', '549,0$', '570,0$', '541,0$', '164,0$', '1117,0$', '619,0$', '319,0$', '956,0$', '1245,0$', '1397,0$', '527,0$', '213,0$', '882,0$', '330,0$', '406,0$', '217,0$', '481,0$', '669,0$', '1465,0$', '685,0$', '1062,0$', '177,0$', '1199,0$', '648,0$', '412,0$', '282,0$', '770,0$', '601,0$', '855,0$', '332,0$', '1326,0$', '748,0$', '405,0$', '790,0$', '971,0$', '1370,0$', '750,0$', '880,0$', '678,0$', '1179,0$', '350,0$', '1266,0$', '574,0$', '189,0$', '310,0$', '722,0$', '1219,0$', '994,0$', '721,0$', '853,0$', '427,0$', '852,0$', '1334,0$', '1093,0$', '967,0$', '989,0$', '1195,0$', '1045,0$', '829,0$', '663,0$', '1300,0$', '1105,0$', '906,0$', '849,0$', '1275,0$', '1218,0$', '422,0$', '1274,0$', '1076,0$', '1207,0$', '430,0$', '933,0$', '1184,0$', '586,0$', '890,0$', '379,0$', '1425,0$', '1188,0$', '938,0$', '1053,0$', '248,0$', '796,0$', '174,0$', '408,0$', '977,0$', '536,0$', '135,0$', '1476,0$', '587,0$', '495,0$', '523,0$', '507,0$', '1055,0$', '1445,0$', '218,0$', '447,0$', '1029,0$', '674,0$', '538,0$', '740,0$', '1234,0$', '170,0$', '1130,0$', '584,0$', '918,0$', '792,0$', '611,0$', '1383,0$', '867,0$', '706,0$', '728,0$', '311,0$', '556,0$', '937,0$', '1125,0$', '444,0$', '911,0$', '585,0$', '1392,0$', '1005,0$', '1299,0$', '655,0$', '746,0$', '632,0$', '658,0$', '1467,0$', '1312,0$', '249,0$', '802,0$', '689,0$', '1395,0$', '1436,0$', '1496,0$', '1480,0$', '313,0$', '894,0$', '290,0$', '1084,0$', '1002,0$', '1242,0$', '1052,0$', '944,0$', '771,0$', '1416,0$', '1327,0$', '488,0$', '1385,0$', '666,0$', '1315,0$', '442,0$', '950,0$', '691,0$', '1018,0$', '559,0$', '318,0$', '144,0$', '1171,0$', '143,0$', '1178,0$', '1107,0$', '645,0$', '1485,0$', '1116,0$', '163,0$', '561,0$', '426,0$', '509,0$', '258,0$', '525,0$', '238,0$', '482,0$', '397,0$', '243,0$', '806,0$', '1442,0$', '929,0$', '827,0$', '703,0$', '294,0$', '314,0$', '654,0$', '501,0$', '954,0$', '1434,0$', '657,0$', '240,0$', '791,0$', '676,0$', '436,0$', '760,0$', '661,0$', '1085,0$', '154,0$', '1283,0$', '616,0$', '498,0$', '530,0$', '805,0$', '903,0$', '1229,0$', '566,0$', '1441,0$', '153,0$', '1066,0$', '145,0$', '1109,0$', '124,0$', '300,0$', '1366,0$', '857,0$', '1204,0$', '1082,0$', '203,0$', '1308,0$', '718,0$', '593,0$', '1384,0$', '1361,0$', '1146,0$', '1316,0$', '363,0$', '1103,0$', '920,0$', '694,0$', '1429,0$', '531,0$', '621,0$', '604,0$', '325,0$', '1030,0$', '524,0$', '943,0$', '1009,0$', '817,0$', '930,0$', '1147,0$', '652,0$', '337,0$', '1136,0$', '326,0$', '377,0$', '1038,0$', '1490,0$', '1246,0$', '224,0$', '441,0$', '898,0$', '1313,0$', '1015,0$', '1387,0$', '1302,0$', '602,0$', '772,0$', '809,0$', '786,0$', '921,0$', '717,0$', '979,0$', '953,0$', '244,0$', '196,0$', '303,0$', '1092,0$', '261,0$', '1422,0$', '1137,0$', '511,0$', '1396,0$', '1096,0$', '1169,0$', '1239,0$', '157,0$', '754,0$', '1303,0$', '697,0$', '116,0$', '557,0$', '582,0$', '704,0$', '613,0$', '419,0$', '477,0$', '1211,0$', '505,0$', '269,0$', '553,0$', '1277,0$', '302,0$', '975,0$', '1318,0$', '881,0$', '466,0$', '945,0$', '433,0$', '991,0$', '1083,0$', '136,0$', '333,0$', '1462,0$', '1131,0$', '1023,0$', '1065,0$', '1115,0$', '1479,0$', '304,0$', '1368,0$', '828,0$', '799,0$', '142,0$', '446,0$', '254,0$', '1410,0$', '883,0$', '121,0$', '1343,0$', '490,0$', '1400,0$', '1332,0$', '1200,0$', '1102,0$', '1328,0$', '548,0$', '1214,0$', '120,0$', '841,0$', '1033,0$', '1452,0$', '1268,0$', '307,0$', '797,0$', '555,0$', '1377,0$', '210,0$', '483,0$', '575,0$', '1311,0$', '759,0$', '891,0$', '317,0$', '688,0$', '195,0$', '622,0$', '646,0$', '719,0$', '1012,0$', '1278,0$', '1222,0$', '1231,0$', '462,0$', '231,0$', '1089,0$', '1262,0$', '439,0$', '528,0$', '647,0$', '1097,0$', '942,0$', '966,0$', '168,0$', '299,0$', '999,0$', '1498,0$', '1439,0$', '1111,0$', '1174,0$', '172,0$', '401,0$', '866,0$', '571,0$', '1342,0$', '995,0$', '118,0$', '990,0$', '241,0$', '1470,0$', '492,0$', '1040,0$', '1320,0$', '146,0$', '1153,0$', '185,0$', '1297,0$', '1064,0$', '1351,0$', '468,0$', '1273,0$', '1141,0$', '1488,0$', '653,0$', '1225,0$', '1217,0$', '1127,0$', '1427,0$', '702,0$', '926,0$', '878,0$', '896,0$', '1401,0$', '675,0$', '1070,0$', '496,0$', '390,0$', '1220,0$', '1124,0$', '1046,0$', '267,0$', '443,0$', '1287,0$', '1420,0$', '562,0$', '650,0$', '141,0$', '715,0$', '376,0$', '932,0$', '471,0$', '180,0$', '1265,0$', '1075,0$', '1086,0$', '152,0$', '974,0$', '788,0$', '192,0$', '150,0$', '1167,0$', '206,0$', '736,0$', '322,0$', '683,0$', '1475,0$', '560,0$', '115,0$', '888,0$', '671,0$', '567,0$', '148,0$', '581,0$', '371,0$', '1181,0$', '1253,0$', '370,0$', '1194,0$', '572,0$', '355,0$', '783,0$', '155,0$', '508,0$', '642,0$', '1382,0$', '1037,0$', '1120,0$', '374,0$', '287,0$', '591,0$', '670,0$', '1346,0$', '103,0$', '673,0$', '705,0$', '1459,0$', '1443,0$', '1142,0$', '664,0$', '432,0$', '1353,0$', '489,0$', '807,0$', '1280,0$', '957,0$', '542,0$', '216,0$', '1150,0$', '364,0$', '1256,0$', '440,0$', '713,0$', '140,0$', '629,0$', '328,0$', '472,0$', '905,0$', '1151,0$', '644,0$', '992,0$', '1323,0$', '818,0$', '1431,0$', '976,0$', '832,0$', '916,0$', '1247,0$', '128,0$', '1158,0$', '996,0$', '1449,0$', '636,0$', '889,0$', '106,0$', '723,0$', '1482,0$', '738,0$', '1192,0$', '1309,0$', '544,0$', '641,0$', '756,0$', '895,0$', '1261,0$', '329,0$', '1362,0$', '1371,0$', '821,0$', '1381,0$', '1473,0$', '296,0$', '1349,0$', '986,0$', '413,0$', '988,0$', '1474,0$', '232,0$', '1236,0$', '1112,0$', '204,0$', '913,0$', '810,0$', '693,0$', '316,0$', '381,0$', '775,0$', '804,0$', '1090,0$', '346,0$', '725,0$', '182,0$', '384,0$', '1325,0$', '1258,0$', '1041,0$', '625,0$', '1418,0$', '1269,0$', '395,0$', '341,0$', '500,0$', '1454,0$', '617,0$', '1122,0$', '1198,0$', '188,0$', '335,0$', '461,0$', '1134,0$', '138,0$', '1206,0$', '109,0$', '277,0$', '265,0$', '342,0$', '1186,0$', '769,0$', '1176,0$', '1091,0$', '618,0$', '970,0$', '984,0$', '793,0$', '1182,0$', '603,0$', '874,0$', '367,0$', '199,0$', '1457,0$', '1421,0$', '1450,0$', '1212,0$', '1010,0$', '131,0$', '193,0$', '640,0$', '848,0$', '1138,0$', '256,0$', '935,0$', '458,0$', '662,0$', '499,0$', '949,0$', '383,0$', '1255,0$', '1221,0$', '981,0$', '1495,0$', '1193,0$', '467,0$', '271,0$', '410,0$', '1288,0$', '1108,0$', '437,0$', '457,0$', '634,0$', '546,0$', '711,0$', '448,0$', '365,0$', '763,0$', '486,0$', '392,0$', '727,0$', '741,0$', '552,0$', '506,0$', '1456,0$', '160,0$', '897,0$', '600,0$', '1054,0$', '428,0$', '343,0$', '1216,0$', '207,0$', '280,0$', '414,0$', '836,0$', '592,0$', '219,0$', '1079,0$', '1251,0$', '1168,0$', '1444,0$', '1154,0$', '234,0$', '529,0$', '1322,0$', '924,0$', '134,0$', '755,0$', '253,0$', '922,0$', '1365,0$', '306,0$', '1271,0$', '1404,0$', '1391,0$', '1464,0$', '1330,0$', '773,0$', '902,0$', '107,0$', '504,0$', '1358,0$', '824,0$', '594,0$', '734,0$', '766,0$', '431,0$', '1213,0$', '1373,0$', '1324,0$', '1123,0$', '391,0$', '125,0$', '1357,0$', '626,0$', '132,0$', '871,0$', '1031,0$', '1145,0$', '854,0$', '1411,0$', '252,0$', '833,0$', '1210,0$', '1463,0$', '812,0$', '1162,0$', '845,0$', '1144,0$', '156,0$', '464,0$', '1305,0$', '983,0$', '534,0$', '1306,0$', '1094,0$', '558,0$', '959,0$', '782,0$', '362,0$', '268,0$', '167,0$', '1243,0$', '720,0$', '868,0$', '1252,0$', '781,0$', '1272,0$', '129,0$', '1069,0$', '289,0$', '955,0$', '660,0$', '415,0$', '309,0$', '130,0$', '862,0$', '1098,0$', '969,0$', '373,0$', '599,0$', '968,0$', '830,0$', '1423,0$', '516,0$', '598,0$', '104,0$', '479,0$', '474,0$', '264,0$', '1059,0$', '563,0$', '1259,0$', '369,0$', '543,0$', '964,0$', '176,0$', '181,0$', '211,0$', '590,0$', '305,0$', '478,0$', '1294,0$', '1128,0$', '726,0$', '352,0$', '1172,0$', '605,0$', '1337,0$', '105,0$']

In [16]:
depart_dict= list(df['Department'].unique()) # revisar los NAN
print(depart_dict)

[nan, ' Research & Development ', ' Sales ', ' Human Resources ']

In [17]:
distance_dict= list(df['DistanceFromHome'].unique()) # Revisar porque son (-)negativos y otros (+)positivos 
print(distance_dict)

[6, 1, 4, 2, 3, 22, 25, 9, 7, 23, 10, 12, 14, -13, 15, 8, -42, 28, -37, 5, 16, -35, 26, -26, 24, 29, -25, 17, 21, -18, -10, -30, -27, 20, -31, -29, -39, 18, -21, -15, 11, 13, -14, 19, -33, -34, -46, -36, -19, 27, -12, -23, -45, -28, -47, -32, -24, -16, -22, -41, -49, -11, -48, -38, -20, -17, -43, -40, -44]

In [18]:
edu_dict= list(df['Education'].unique())
print(edu_dict)

[3, 4, 2, 1, 5]

In [19]:
edu_f_dict= list(df['EducationField'].unique()) # Revisar los NAN
print(edu_f_dict)

[nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other', 'Marketing', 'Human Resources']

In [20]:
employ_dict= list(df['employeecount'].unique())
print(employ_dict)

[1]

In [21]:
employ_num_dict= list(df['employeenumber'].unique())
print(employ_num_dict)

['162,0', '259,0', '319,0', nan, '1900,0', '81,0', '387,0', '999,0', '1035,0', '58,0', '558,0', '825,0', '1712,0', '73,0', '820,0', '1294,0', '1774,0', '1815,0', '1993,0', '32,0', '100,0', '244,0', '327,0', '373,0', '729,0', '830,0', '981,0', '1042,0', '1080,0', '1995,0', '145,0', '158,0', '391,0', '436,0', '1527,0', '1866,0', '2026,0', '107,0', '170,0', '215,0', '304,0', '529,0', '691,0', '692,0', '1005,0', '1024,0', '1039,0', '1225,0', '1375,0', '1661,0', '1668,0', '1698,0', '1937,0', '2017,0', '117,0', '131,0', '153,0', '307,0', '374,0', '524,0', '569,0', '899,0', '1014,0', '1117,0', '1238,0', '1277,0', '1541,0', '1666,0', '1696,0', '1805,0', '1932,0', '2016,0', '20,0', '184,0', '206,0', '228,0', '239,0', '256,0', '339,0', '406,0', '429,0', '444,0', '452,0', '456,0', '481,0', '513,0', '597,0', '600,0', '630,0', '638,0', '683,0', '780,0', '817,0', '901,0', '944,0', '984,0', '1088,0', '1124,0', '1167,0', '1184,0', '1252,0', '1267,0', '1278,0', '1288,0', '1307,0', '1336,0', '1352,0', '1360,0', '1419,0', '1478,0', '1480,0', '1489,0', '1520,0', '1535,0', '1586,0', '1596,0', '1667,0', '1701,0', '1706,0', '1971,0', '1976,0', '1985,0', '2032,0', '2056,0', '57,0', '78,0', '104,0', '118,0', '121,0', '125,0', '207,0', '227,0', '253,0', '264,0', '291,0', '292,0', '306,0', '335,0', '420,0', '421,0', '441,0', '531,0', '549,0', '567,0', '581,0', '702,0', '716,0', '772,0', '836,0', '840,0', '844,0', '867,0', '889,0', '924,0', '976,0', '992,0', '1002,0', '1073,0', '1138,0', '1192,0', '1196,0', '1315,0', '1324,0', '1334,0', '1346,0', '1356,0', '1423,0', '1459,0', '1472,0', '1485,0', '1543,0', '1547,0', '1553,0', '1562,0', '1582,0', '1606,0', '1658,0', '1665,0', '1737,0', '1790,0', '1823,0', '1857,0', '1864,0', '1881,0', '1888,0', '1950,0', '1962,0', '1975,0', '1986,0', '2000,0', '2,0', '5,0', '35,0', '76,0', '98,0', '120,0', '147,0', '154,0', '159,0', '160,0', '163,0', '176,0', '177,0', '195,0', '202,0', '205,0', '252,0', '258,0', '260,0', '267,0', '275,0', '293,0', '302,0', '314,0', '329,0', '361,0', '363,0', '376,0', '381,0', '388,0', '389,0', '401,0', '416,0', '430,0', '438,0', '446,0', '448,0', '454,0', '458,0', '476,0', '483,0', '488,0', '500,0', '534,0', '586,0', '595,0', '608,0', '616,0', '621,0', '653,0', '663,0', '682,0', '710,0', '717,0', '721,0', '722,0', '724,0', '725,0', '728,0', '733,0', '734,0', '742,0', '747,0', '762,0', '783,0', '789,0', '793,0', '803,0', '809,0', '823,0', '842,0', '913,0', '927,0', '941,0', '956,0', '966,0', '967,0', '972,0', '990,0', '1013,0', '1015,0', '1018,0', '1034,0', '1046,0', '1050,0', '1074,0', '1082,0', '1097,0', '1100,0', '1101,0', '1106,0', '1119,0', '1126,0', '1128,0', '1177,0', '1182,0', '1201,0', '1218,0', '1220,0', '1224,0', '1235,0', '1237,0', '1255,0', '1264,0', '1283,0', '1293,0', '1295,0', '1322,0', '1344,0', '1355,0', '1362,0', '1369,0', '1377,0', '1402,0', '1408,0', '1417,0', '1421,0', '1422,0', '1424,0', '1457,0', '1460,0', '1484,0', '1497,0', '1522,0', '1544,0', '1572,0', '1608,0', '1611,0', '1612,0', '1615,0', '1619,0', '1635,0', '1642,0', '1653,0', '1691,0', '1693,0', '1703,0', '1727,0', '1728,0', '1745,0', '1754,0', '1756,0', '1764,0', '1778,0', '1797,0', '1804,0', '1816,0', '1821,0', '1849,0', '1869,0', '1898,0', '1911,0', '1927,0', '1934,0', '1951,0', '1952,0', '1965,0', '1967,0', '1979,0', '2008,0', '2009,0', '2014,0', '2034,0', '2035,0', '2062,0', '28,0', '62,0', '199,0', '343,0', '351,0', '428,0', '464,0', '731,0', '764,0', '851,0', '903,0', '905,0', '942,0', '1026,0', '1085,0', '1109,0', '1118,0', '1152,0', '1350,0', '1514,0', '1523,0', '1539,0', '1588,0', '1617,0', '1719,0', '1870,0', '2031,0', '2065,0', '15,0', '60,0', '85,0', '346,0', '384,0', '498,0', '551,0', '604,0', '626,0', '644,0', '649,0', '714,0', '781,0', '804,0', '856,0', '998,0', '1120,0', '1143,0', '1251,0', '1438,0', '1574,0', '1671,0', '94,0', '112,0', '129,0', '142,0', '161,0', '164,0', '190,0', '194,0', '226,0', '231,0', '240,0', '262,0', '283,0', '308,0', '325,0', '355,0', '378,0', '449,0', '466,0', '486,0', '492,0', '505,0', '510,0', '527,0', '547,0', '548,0', '577,0', '679,0', '785,0', '861,0', '864,0', '878,0', '895,0', '900,0', '936,0', '997,0', '1048,0', '1071,0', '1116,0', '1132,0', '1171,0', '1200,0', '1202,0', '1245,0', '1280,0', '1309,0', '1374,0', '1390,0', '1395,0', '1397,0', '1409,0', '1425,0', '1435,0', '1445,0', '1469,0', '1503,0', '1534,0', '1546,0', '1548,0', '1598,0', '1599,0', '1609,0', '1638,0', '1640,0', '1664,0', '1684,0', '1704,0', '1736,0', '1782,0', '1826,0', '1850,0', '1909,0', '1924,0', '1941,0', '1949,0', '27,0', '46,0', '52,0', '68,0', '79,0', '80,0', '91,0', '119,0', '126,0', '148,0', '150,0', '198,0', '216,0', '230,0', '270,0', '277,0', '299,0', '315,0', '330,0', '369,0', '386,0', '390,0', '412,0', '422,0', '434,0', '450,0', '469,0', '491,0', '554,0', '579,0', '592,0', '599,0', '641,0', '655,0', '667,0', '758,0', '760,0', '791,0', '796,0', '799,0', '815,0', '827,0', '865,0', '894,0', '983,0', '996,0', '1011,0', '1019,0', '1032,0', '1045,0', '1049,0', '1068,0', '1136,0', '1179,0', '1188,0', '1211,0', '1228,0', '1231,0', '1259,0', '1338,0', '1349,0', '1387,0', '1401,0', '1407,0', '1420,0', '1431,0', '1446,0', '1477,0', '1487,0', '1499,0', '1533,0', '1545,0', '1554,0', '1563,0', '1622,0', '1631,0', '1646,0', '1659,0', '1689,0', '1700,0', '1739,0', '1768,0', '1772,0', '1792,0', '1800,0', '1822,0', '1854,0', '1882,0', '1885,0', '1931,0', '1945,0', '1947,0', '1954,0', '1969,0', '1981,0', '1997,0', '1998,0', '1999,0', '2018,0', '2044,0', '2046,0', '2052,0', '2053,0', '2068,0', '7,0', '16,0', '18,0', '19,0', '21,0', '24,0', '26,0', '31,0', '33,0', '38,0', '40,0', '47,0', '49,0', '65,0', '72,0', '88,0', '102,0', '103,0', '110,0', '116,0', '128,0', '132,0', '133,0', '143,0', '171,0', '175,0', '178,0', '179,0', '193,0', '197,0', '218,0', '221,0', '233,0', '241,0', '245,0', '246,0', '247,0', '249,0', '250,0', '269,0', '287,0', '288,0', '297,0', '303,0', '305,0', '316,0', '332,0', '337,0', '338,0', '341,0', '347,0', '349,0', '350,0', '362,0', '379,0', '380,0', '393,0', '394,0', '396,0', '403,0', '423,0', '424,0', '433,0', '440,0', '447,0', '455,0', '460,0', '465,0', '470,0', '475,0', '478,0', '482,0', '495,0', '501,0', '502,0', '507,0', '517,0', '522,0', '523,0', '525,0', '526,0', '530,0', '544,0', '555,0', '564,0', '580,0', '585,0', '591,0', '593,0', '611,0', '624,0', '631,0', '632,0', '652,0', '659,0', '664,0', '665,0', '666,0', '671,0', '675,0', '686,0', '699,0', '705,0', '707,0', '712,0', '732,0', '738,0', '744,0', '746,0', '752,0', '754,0', '769,0', '792,0', '797,0', '800,0', '806,0', '813,0', '819,0', '838,0', '847,0', '852,0', '859,0', '872,0', '874,0', '881,0', '885,0', '888,0', '893,0', '896,0', '902,0', '916,0', '922,0', '925,0', '930,0', '939,0', '975,0', '991,0', '995,0', '1001,0', '1010,0', '1017,0', '1022,0', '1027,0', '1028,0', '1037,0', '1044,0', '1053,0', '1069,0', '1077,0', '1084,0', '1094,0', '1096,0', '1099,0', '1102,0', '1103,0', '1108,0', '1114,0', '1131,0', '1135,0', '1140,0', '1157,0', '1160,0', '1161,0', '1162,0', '1185,0', '1195,0', '1217,0', '1234,0', '1286,0', '1291,0', '1301,0', '1303,0', '1308,0', '1311,0', '1317,0', '1329,0', '1331,0', '1333,0', '1358,0', '1361,0', '1371,0', '1380,0', '1389,0', '1392,0', '1396,0', '1403,0', '1405,0', '1411,0', '1412,0', '1415,0', '1428,0', '1436,0', '1439,0', '1441,0', '1448,0', '1464,0', '1466,0', '1467,0', '1471,0', '1473,0', '1475,0', '1486,0', '1507,0', '1509,0', '1513,0', '1516,0', '1537,0', '1552,0', '1560,0', '1568,0', '1573,0', '1576,0', '1580,0', '1583,0', '1587,0', '1592,0', '1594,0', '1597,0', '1607,0', '1623,0', '1641,0', '1644,0', '1645,0', '1647,0', '1648,0', '1651,0', '1655,0', '1657,0', '1662,0', '1670,0', '1674,0', '1682,0', '1683,0', '1694,0', '1702,0', '1721,0', '1722,0', '1733,0', '1735,0', '1746,0', '1751,0', '1753,0', '1787,0', '1801,0', '1813,0', '1814,0', '1833,0', '1834,0', '1835,0', '1837,0', '1844,0', '1856,0', '1858,0', '1873,0', '1883,0', '1886,0', '1905,0', '1907,0', '1908,0', '1922,0', '1929,0', '1948,0', '1972,0', '1980,0', '1982,0', '1992,0', '1996,0', '2003,0', '2007,0', '2010,0', '2027,0', '2038,0', '2048,0', '2055,0', '2060,0', '2061,0', '2064,0', '39,0', '51,0', '95,0', '169,0', '224,0', '242,0', '286,0', '340,0', '431,0', '496,0', '511,0', '612,0', '650,0', '684,0', '730,0', '757,0', '869,0', '875,0', '964,0', '970,0', '1006,0', '1055,0', '1061,0', '1107,0', '1180,0', '1193,0', '1226,0', '1254,0', '1321,0', '1465,0', '1479,0', '1551,0', '1555,0', '1604,0', '1757,0', '1760,0', '1789,0', '1807,0', '1812,0', '1818,0', '1830,0', '1890,0', '1939,0', '1994,0', '4,0', '10,0', '30,0', '41,0', '42,0', '53,0', '54,0', '55,0', '64,0', '70,0', '84,0', '97,0', '106,0', '113,0', '137,0', '139,0', '144,0', '155,0', '167,0', '200,0', '201,0', '211,0', '214,0', '243,0', '271,0', '282,0', '309,0', '323,0', '334,0', '342,0', '364,0', '367,0', '392,0', '397,0', '407,0', '445,0', '468,0', '471,0', '473,0', '477,0', '479,0', '485,0', '487,0', '494,0', '508,0', '514,0', '518,0', '556,0', '566,0', '568,0', '614,0', '615,0', '622,0', '643,0', '648,0', '656,0', '657,0', '661,0', '662,0', '690,0', '701,0', '704,0', '715,0', '743,0', '749,0', '773,0', '775,0', '811,0', '812,0', '816,0', '832,0', '833,0', '834,0', '897,0', '904,0', '911,0', '918,0', '923,0', '934,0', '940,0', '945,0', '951,0', '952,0', '954,0', '959,0', '986,0', '994,0', '1003,0', '1012,0', '1029,0', '1033,0', '1052,0', '1056,0', '1076,0', '1079,0', '1081,0', '1105,0', '1111,0', '1113,0', '1115,0', '1125,0', '1156,0', '1158,0', '1172,0', '1190,0', '1206,0', '1210,0', '1242,0', '1256,0', '1258,0', '1260,0', '1263,0', '1269,0', '1270,0', '1273,0', '1306,0', '1364,0', '1368,0', '1379,0', '1427,0', '1433,0', '1434,0', '1458,0', '1481,0', '1482,0', '1494,0', '1504,0', '1515,0', '1525,0', '1542,0', '1558,0', '1564,0', '1577,0', '1581,0', '1591,0', '1601,0', '1602,0', '1624,0', '1669,0', '1673,0', '1678,0', '1697,0', '1714,0', '1724,0', '1731,0', '1744,0', '1755,0', '1758,0', '1761,0', '1763,0', '1766,0', '1783,0', '1839,0', '1842,0', '1847,0', '1853,0', '1860,0', '1865,0', '1875,0', '1876,0', '1893,0', '1903,0', '1928,0', '1933,0', '1935,0', '1936,0', '1938,0', '1943,0', '1944,0', '1961,0', '1966,0', '1974,0', '2012,0', '2023,0', '2040,0']

In [22]:
Over18_dict= list(df['Over18'].unique())
print(Over18_dict)

['Y', nan]

In [23]:
overtime_dict=list (df["OverTime"].unique())
print(overtime_dict)

['No', nan, 'Yes']

In [24]:
over18_dict=list (df["Over18"].unique())
print(over18_dict)

['Y', nan]

In [25]:
PerformanceRating_dic=list (df["PerformanceRating"].unique())
print(PerformanceRating_dic)

['3,0', '4,0', nan]

In [26]:
RelationshipSatisfaction_dic=list (df["RelationshipSatisfaction"].unique())
RelationshipSatisfaction_dic
df["RelationshipSatisfaction"].unique()

array([3, 1, 4, 2], dtype=int64)

In [27]:
StockOptionLevel_dic=list (df["StockOptionLevel"].unique())
StockOptionLevel_dic
df["StockOptionLevel"].unique()

array([0, 1, 2, 3], dtype=int64)

In [28]:
TOTALWORKINGYEARS_dic=list (df["TOTALWORKINGYEARS"].unique())
df["TOTALWORKINGYEARS"].unique()

array([nan, '34,0', '22,0', '28,0', '20,0', '21,0', '33,0', '40,0',
       '18,0', '25,0', '15,0', '17,0', '26,0', '16,0', '24,0', '14,0',
       '23,0', '27,0', '19,0', '11,0', '38,0', '37,0', '13,0', '12,0',
       '29,0', '10,0', '36,0', '35,0', '9,0', '31,0', '32,0', '8,0',
       '7,0', '30,0', '6,0', '5,0', '4,0', '3,0', '2,0', '1,0', '0,0'],
      dtype=object)

In [29]:
TrainingTimesLastYear_dic=list (df["TrainingTimesLastYear"].unique())
print(TrainingTimesLastYear_dic)
df["TrainingTimesLastYear"].unique()

[5, 3, 2, 0, 1, 4, 6]

array([5, 3, 2, 0, 1, 4, 6], dtype=int64)

In [30]:
WORKLIFEBALANCE_dic=list (df["WORKLIFEBALANCE"].unique())
df["WORKLIFEBALANCE"].unique()
print(WORKLIFEBALANCE_dic)

['3,0', nan, '2,0', '4,0', '1,0']

In [31]:
YearsAtCompany_dic=list (df["YearsAtCompany"].unique())
df["YearsAtCompany"].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [32]:
YearsSinceLastPromotion_dic=list (df["YearsSinceLastPromotion"].unique())
df["YearsSinceLastPromotion"].unique()

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9],
      dtype=int64)

In [33]:
YEARSWITHCURRMANAGER_dic=list (df["YEARSWITHCURRMANAGER"].unique())
print(YEARSWITHCURRMANAGER_dic)
df["YEARSWITHCURRMANAGER"].unique()

[15, 9, 6, 8, 7, 11, 10, 12, 4, 0, 5, 17, 2, 14, 1, 13, 3, 16]

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [34]:
SameAsMonthlyIncome_dic=list (df["SameAsMonthlyIncome"].unique())
print(SameAsMonthlyIncome_dic)
df["SameAsMonthlyIncome"].unique()

['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0', '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0', '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0', '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0', '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0', '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0', '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0', '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0', '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0', '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0', '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0', '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0', '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0', '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0', '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0', '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0', '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0', '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0', '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0', '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0', '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0', '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0', '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0', '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0', '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0', '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0', '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0', '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0', '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0', '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0', '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0', '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0', '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0', '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0', '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0', '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0', '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0', '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0', '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0', '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0', '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0', '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0', '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0', '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0', '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0', '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0', '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0', '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0', '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0', '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0', '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0', '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0', '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0', '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0', '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0', '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0', '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0', '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0', '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0', '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0', '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0', '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0', '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0', '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0', '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0', '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0', '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0', '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0', '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0', '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0', '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0', '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0', '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0', '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0', '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0', '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0', '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0', '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0', '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0', '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0', '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0', '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0', '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0', '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0', '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0', '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0', '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0', '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0', '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0', '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0', '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0', '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0', '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0', '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0', '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0', '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0', '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0', '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0', '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0', '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0', '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0', '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0', '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0', '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0', '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0', '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0', '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0', '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0', '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0', '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0', '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0', '2858,0', '1129,0', '19431,0']

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

In [35]:
DateBirth_dic=list (df["DateBirth"].unique())
print(DateBirth_dic)

df["DateBirth"].unique()

[1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968, 1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991, 1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996, 1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005]

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [36]:
Salary_dic=list (df["Salary"].unique())
print(Salary_dic)

df["Salary"].unique()

['1000000000$']

array(['1000000000$'], dtype=object)

In [37]:
NUMCOMPANIESWORKED_dic=list (df["NUMCOMPANIESWORKED"].unique())
print(NUMCOMPANIESWORKED_dic)

df["NUMCOMPANIESWORKED"].unique()

[7, 0, 1, 3, 2, 4, 8, 9, 5, 6]

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6], dtype=int64)

In [38]:
NUMBERCHILDREN_dic=list (df["NUMBERCHILDREN"].unique())
print(NUMBERCHILDREN_dic)


df["NUMBERCHILDREN"].unique()

[nan]

array([nan])

In [39]:
print(df['WORKLIFEBALANCE'].dtype) # es object
df['WORKLIFEBALANCE'].unique() #tiene valores nulos

object

array(['3,0', nan, '2,0', '4,0', '1,0'], dtype=object)

In [40]:
print(df['YearsAtCompany'].dtype) #es intiger
df['YearsAtCompany'].unique()

int64

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [41]:
print(df['YearsInCurrentRole'].dtype) #es object
df['YearsInCurrentRole'].unique() #tiene valores nan

object

array([nan, '13,0', '12,0', '11,0', '7,0', '6,0', '4,0', '3,0', '2,0',
       '1,0', '0,0'], dtype=object)

In [73]:
print(df['StandardHours'].dtype) #es object
df['StandardHours'].unique() #tiene valores nan

object

array([nan, '80,0'], dtype=object)

In [42]:
print(df['YearsSinceLastPromotion'].dtype) # es intiger
df['YearsSinceLastPromotion'].unique()

int64

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9],
      dtype=int64)

In [43]:
print(df['YEARSWITHCURRMANAGER'].dtype) #es intiger
df['YEARSWITHCURRMANAGER'].unique()

int64

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [44]:
print(df['SameAsMonthlyIncome'].dtype) # es de tipo object
df['SameAsMonthlyIncome'].unique() # contiene nan

object

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

In [45]:
print(df['DateBirth'].dtype) # es de tipo intiger
df['DateBirth'].unique()

int64

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [46]:
print(df['Salary'].dtype)
df['Salary'].unique() #todos los valores son iguales, elimlinamos columna?

object

array(['1000000000$'], dtype=object)

In [47]:
print(df['RoleDepartament'].dtype) # tipo object
df['RoleDepartament'].unique() # contiene nan, también habría que corregir los nombres

object

array([nan, ' ManaGER  -  Research & Development ',
       ' MANAger  -  Research & Development ',
       ' heaLtHcArE repResENtATiVe  -  Research & Development ',
       ' saLEs exEcutIVe  -  Sales ', ' Sales ExECuTIVe  -  Sales ',
       ' heALthCArE RePResEntaTIVe  -  Research & Development ',
       ' lABORAtOry tECHnIcIan  -  Research & Development ',
       ' ManufactUrINg DiReCTOr  -  Research & Development ',
       ' SaleS eXEcUtIVE  -  Sales ',
       ' HEaLthcaRe rEprEsEnTAtiVe  -  Research & Development ',
       ' rESeArCH sCientIST  -  Research & Development ',
       ' healTHCAre rePREseNtATiVE  -  Research & Development ',
       ' mANaGer  -  Research & Development ',
       ' HEAltHCaRe REPreseNTatIve  -  Research & Development ',
       ' SaLeS eXECUTivE  -  Sales ',
       ' reSeARCH SCIEnTiST  -  Research & Development ',
       ' ReSearch DiRecTOR  -  Research & Development ',
       ' resEaRCh SciEnTist  -  Research & Development ',
       ' hUmaN REsoUrCes  -  Human Resources ',
       ' manAgER  -  Research & Development ',
       ' SaLES eXeCUtIVE  -  Sales ',
       ' reSEarCH scIentISt  -  Research & Development ',
       ' ReSeARCh DiRECtor  -  Research & Development ',
       ' MaNAgeR  -  Sales ',
       ' RESEArCH sCIenTIst  -  Research & Development ',
       ' hUMAn reSoUrCES  -  Human Resources ',
       ' HUmAN rESOuRceS  -  Human Resources ',
       ' SaleS EXeCuTivE  -  Sales ',
       ' ReSeARch scIENTISt  -  Research & Development ',
       ' LaBoRaTorY TeChNicIAn  -  Research & Development ',
       ' ManUfaCTUriNg dIReCtor  -  Research & Development ',
       ' saLES ExECuTIVe  -  Sales ',
       ' RESEaRch SCIEntISt  -  Research & Development ',
       ' mAnUFaCtUrinG diReCtor  -  Research & Development ',
       ' maNUFAcTURING direCTOr  -  Research & Development ',
       ' labOraTORy techNicIan  -  Research & Development ',
       ' SAlEs ExeCUtive  -  Sales ',
       ' MANUFACturING DIRecToR  -  Research & Development ',
       ' Sales eXECuTIvE  -  Sales ',
       ' mANUfaCTuRiNG DiRECtOr  -  Research & Development ',
       ' ManUFACtURiNg DiRECTOr  -  Research & Development ',
       ' ResEARcH DiReCToR  -  Research & Development ',
       ' MANAgER  -  Research & Development ',
       ' labORATORY TechnIcIaN  -  Research & Development ',
       ' MaNUfacTurINg DiReCTor  -  Research & Development ',
       ' ReSEaRcH sciENTIST  -  Research & Development ',
       ' rESEARCh dIrEcTOr  -  Research & Development ',
       ' MANUfACTuRinG diRecTOR  -  Research & Development ',
       ' HeaLThCArE REpRESENTAtIVe  -  Research & Development ',
       ' LABOraTory TecHnIciaN  -  Research & Development ',
       ' sales rEprESEntAtIvE  -  Sales ',
       ' mANuFacTurinG DirECtoR  -  Research & Development ',
       ' lABorATOrY TeChnICIan  -  Research & Development ',
       ' RESEarCh SCIEnTiST  -  Research & Development ',
       ' SALes exEcuTIVe  -  Sales ',
       ' REseARCH DirectOr  -  Research & Development ',
       ' sAlES EXEcUtIVe  -  Sales ',
       ' lABoraToRY teCHnIcIaN  -  Research & Development ',
       ' LaBorATORy tEChnICiaN  -  Research & Development ',
       ' sales ExecutIvE  -  Sales ', ' sAles exECUtiVe  -  Sales ',
       ' SALEs eXecuTiVE  -  Sales ', ' SaleS executIVE  -  Sales ',
       ' rEsEArCH sCIeNTIST  -  Research & Development ',
       ' reSEArch SCIEntIsT  -  Research & Development ',
       ' rESeArCh DIrEctor  -  Research & Development ',
       ' saLES ExECUtiVe  -  Sales ',
       ' LaboRATory tEchNICIAn  -  Research & Development ',
       ' SAlEs exECUtIVe  -  Sales ', ' salEs eXECuTivE  -  Sales ',
       ' ReseaRch scIenTisT  -  Research & Development ',
       ' LaBoraTORY teCHNiCIaN  -  Research & Development ',
       ' sALEs ExeCuTive  -  Sales ',
       ' heALtHCARE rePResENtAtivE  -  Research & Development ',
       ' ManAgEr  -  Research & Development ',
       ' laboRAtORy TecHnICiAN  -  Research & Development ',
       ' ReSeARCH diRECtoR  -  Research & Development ',
       ' LAborAtOry TEchniCIAn  -  Research & Development ',
       ' SaLeS eXECutiVE  -  Sales ', ' SalEs eXECuTive  -  Sales ',
       ' rESeaRCH DIReCToR  -  Research & Development ',
       ' mANAGeR  -  Human Resources ', ' saLeS exECUtive  -  Sales ',
       ' maNuFAcTURInG DIReCtoR  -  Research & Development ',
       ' LABORaTorY TEChNIcIAN  -  Research & Development ',
       ' hEalTHcARe RePrEseNTATive  -  Research & Development ',
       ' mANuFActuring DireCtOR  -  Research & Development ',
       ' MaNagEr  -  Research & Development ',
       ' SaLeS exeCuTIVe  -  Sales ',
       ' lAboRaTory tECHNIciAN  -  Research & Development ',
       ' saLes eXECUTIVe  -  Sales ', ' saLes EXEcuTiVe  -  Sales ',
       ' mAnaGeR  -  Research & Development ',
       ' HEALThCaRe rePResEnTaTivE  -  Research & Development ',
       ' mAnAgEr  -  Research & Development ',
       ' MaNageR  -  Research & Development ',
       ' HeAlThCarE rEpreSentatiVe  -  Research & Development ',
       ' HUMAN ResoURCeS  -  Human Resources ',
       ' huMAn ResOurces  -  Human Resources ',
       ' mANUfacTURiNG dIRectOR  -  Research & Development ',
       ' saLES eXEcUTiVE  -  Sales ',
       ' labORaTORY teChNIcIaN  -  Research & Development ',
       ' saLes eXeCUTivE  -  Sales ', ' Sales exECutIVE  -  Sales ',
       ' saleS eXEcuTIvE  -  Sales ', ' SALes ExeCUtive  -  Sales ',
       ' reSearCH SCieNtIst  -  Research & Development ',
       ' HEALThcaRe RePresENtaTiVE  -  Research & Development ',
       ' rEsEARch sCientIST  -  Research & Development ',
       ' HealthcARE RePreSENtAtiVe  -  Research & Development ',
       ' ResEArch ScieNTiST  -  Research & Development ',
       ' labORaTORy TecHniciAN  -  Research & Development ',
       ' SalEs exECUTIvE  -  Sales ',
       ' LabOrATory TEChNICiaN  -  Research & Development ',
       ' reSeArcH scieNtist  -  Research & Development ',
       ' maNuFAcTUring DIrecToR  -  Research & Development ',
       ' ResEARCh DIRECtoR  -  Research & Development ',
       ' SaLes exECutIVe  -  Sales ', ' SAleS eXecuTIVe  -  Sales ',
       ' manAGER  -  Sales ',
       ' LaBOrATORy teCHnIciaN  -  Research & Development ',
       ' SAlES ExecuTIVe  -  Sales ', ' salES exEcUtiVE  -  Sales ',
       ' SAlEs ExECUTIVe  -  Sales ',
       ' HEaLTHcaRE rePReseNtaTIvE  -  Research & Development ',
       ' sAles eXEcUtIve  -  Sales ',
       ' laBoraTorY tEChnICiaN  -  Research & Development ',
       ' MANufacTURIng diREcTOr  -  Research & Development ',
       ' REsearch scIENtist  -  Research & Development ',
       ' heaLtHcARe RePReSENtaTIve  -  Research & Development ',
       ' lAbOrAtorY techNiCiaN  -  Research & Development ',
       ' laboRaTOrY TEchniCIaN  -  Research & Development ',
       ' SAles ExECutIvE  -  Sales ',
       ' HeALtHCarE represEntAtIVe  -  Research & Development ',
       ' HEalThCaRe rEpReSENtatIVe  -  Research & Development ',
       ' HEalTHCare REPrEsEntATiVE  -  Research & Development ',
       ' LaBoRaToRY TEcHnIcian  -  Research & Development ',
       ' SAlES ExecutIve  -  Sales ',
       ' LaBOrAtory TECHNIciAN  -  Research & Development ',
       ' ReSeArch scIenTIsT  -  Research & Development ',
       ' SaLEs EXECutIVe  -  Sales ',
       ' rESEARch DiRector  -  Research & Development ',
       ' HEaltHcare rEPrEsEnTatIVe  -  Research & Development ',
       ' lABORatORY TeChNiCiAN  -  Research & Development ',
       ' LaBOratory TeChnICiAn  -  Research & Development ',
       ' maNAGer  -  Sales ', ' hUMAn rEsOuRCES  -  Human Resources ',
       ' sales ExeCUTiVE  -  Sales ', ' saLEs exeCUtiVe  -  Sales ',
       ' laBorAtORy TECHnicIaN  -  Research & Development ',
       ' ReSeaRch SCIEnTiSt  -  Research & Development ',
       ' rEsEArcH scIenTIst  -  Research & Development ',
       ' RESeArch dIREcToR  -  Research & Development ',
       ' saLes ExECutIVE  -  Sales ',
       ' REseARCh SCIenTIst  -  Research & Development ',
       ' sALEs exECuTiVe  -  Sales ',
       ' rEseArCh SCieNtiST  -  Research & Development ',
       ' lABoRAtoRY TecHnIcian  -  Research & Development ',
       ' researcH SciEntIST  -  Research & Development ',
       ' REseARCH ScIeNTIST  -  Research & Development ',
       ' sAles ExecUtive  -  Sales ',
       ' mAnUfaCTuRing DiRecTor  -  Research & Development ',
       ' SaLes exEcUtIvE  -  Sales ',
       ' ReseArCH scIenTIst  -  Research & Development ',
       ' ReseArch sCienTiST  -  Research & Development ',
       ' ReSEarcH SCiEnTISt  -  Research & Development ',
       ' laBORATORY tECHNiciAN  -  Research & Development ',
       ' rESeArCH sCIeNtISt  -  Research & Development ',
       ' humAN resoURCEs  -  Human Resources ',
       ' REseARCh scieNTIsT  -  Research & Development ',
       ' SaLeS REPRESENtATIvE  -  Sales ',
       ' ResEArch SciEntiST  -  Research & Development ',
       ' ReSEaRCh SCIEnTist  -  Research & Development ',
       ' hUmAn REsOurCES  -  Human Resources ',
       ' sALeS EXecuTIVe  -  Sales ',
       ' ReseArCh SciENTIsT  -  Research & Development ',
       ' sALes rEprESentAtIvE  -  Sales ',
       ' humaN reSOUrcEs  -  Human Resources ',
       ' lAboRatOrY TechNiCiAn  -  Research & Development ',
       ' HeAlthcaRE rEPrEseNTaTIVE  -  Research & Development ',
       ' sALeS eXecuTIvE  -  Sales ', ' SALeS RepREsEnTatiVe  -  Sales ',
       ' SaLes rePrESENTaTivE  -  Sales ',
       ' rESEaRch sCientISt  -  Research & Development ',
       ' laBORatoRy TEcHnician  -  Research & Development ',
       ' ReSeaRch SCIentiST  -  Research & Development ',
       ' RESEarch ScieNtIst  -  Research & Development ',
       ' sALeS RePresenTAtivE  -  Sales ',
       ' LABORAToRy tEchNICiAn  -  Research & Development ',
       ' ResEArch sCIEnTiST  -  Research & Development ',
       ' ReSEArcH sCIeNtist  -  Research & Development ',
       ' LaBoRaTory techNICIAN  -  Research & Development ',
       ' hEaLThcARE rEpresEntATiVE  -  Research & Development ',
       ' mANufActuRIng DirECTOR  -  Research & Development ',
       ' laBOraTOrY TecHNIcIan  -  Research & Development ',
       ' sALES ReprEsentatiVE  -  Sales ',
       ' laBoRatoRy TEChNICiAN  -  Research & Development ',
       ' ReSEarch scIeNTIsT  -  Research & Development ',
       ' researCh SCientIsT  -  Research & Development ',
       ' ReseaRch scIENTisT  -  Research & Development ',
       ' lAboRaToRY teChNICIan  -  Research & Development ',
       ' rEsEaRCh diReCtOR  -  Research & Development ',
       ' labORAtoRy tEcHNICIAN  -  Research & Development ',
       ' SAlES exeCutive  -  Sales ',
       ' hEalthCaRe reprEseNTaTiVe  -  Research & Development ',
       ' ManufacTURInG DIRECtOR  -  Research & Development ',
       ' sAles exEcUtIve  -  Sales ',
       ' reseARCh SCieNTisT  -  Research & Development ',
       ' reSEarcH scIENtISt  -  Research & Development ',
       ' reseArCH scIentISt  -  Research & Development ',
       ' MANuFaCturiNG dIRECTOR  -  Research & Development ',
       ' HuMan resoUrCes  -  Human Resources ',
       ' huMAn Resources  -  Human Resources ',
       ' Sales EXEcUTiVe  -  Sales ',
       ' reSEaRCH scIenTisT  -  Research & Development ',
       ' sales rEpRESEnTatIve  -  Sales ',
       ' reseaRch DIrecTOr  -  Research & Development ',
       ' sALeS eXECutivE  -  Sales ',
       ' Human REsouRCeS  -  Human Resources ',
       ' rESeArcH sCientIST  -  Research & Development ',
       ' SAlES RepreSENtATiVe  -  Sales ', ' SAles execUTIve  -  Sales ',
       ' RESEArch SCIEnTISt  -  Research & Development ',
       ' labOrATOry TEchnIcIaN  -  Research & Development ',
       ' sALes ExEcUTIVe  -  Sales ',
       ' REsEARch sCIenTIsT  -  Research & Development ',
       ' RESeARch ScIeNtisT  -  Research & Development ',
       ' rEseARCH ScIeNtIST  -  Research & Development ',
       ' ManAGEr  -  Research & Development ',
       ' LaBoratory TECHnICIAn  -  Research & Development ',
       ' saLES exEcutivE  -  Sales ',
       ' LABorATory TecHnIcIaN  -  Research & Development ',
       ' HumAN REsourceS  -  Human Resources ',
       ' reseaRCh SCIentIst  -  Research & Development ',
       ' LaBOrAToRy teChNiciAn  -  Research & Development ',
       ' LaborAtorY Technician  -  Research & Development ',
       ' rEseaRCH sCIeNtiSt  -  Research & Development ',
       ' LABOrATOrY TEchnIcIAn  -  Research & Development ',
       ' ReSeARCh DireCtOr  -  Research & Development ',
       ' LaBORatORy tEchNiCian  -  Research & Development ',
       ' laBorATOrY TeChNIcIAn  -  Research & Development ',
       ' sALEs RePREsentaTive  -  Sales ', ' mAnageR  -  Sales ',
       ' rESEArcH SCiEntIst  -  Research & Development ',
       ' heAlThcaRe REprESeNTATive  -  Research & Development ',
       ' LABoratOry TeCHnIcIan  -  Research & Development ',
       ' hEAlthCarE rEpresenTATiVe  -  Research & Development ',
       ' HealTHcaRE rEPreSEntATive  -  Research & Development ',
       ' MaNUfActuRInG diREctOr  -  Research & Development ',
       ' saLes REPrEsentAtiVE  -  Sales ',
       ' LABorAtORy TEchnIciAn  -  Research & Development ',
       ' rEsEARcH ScieNTisT  -  Research & Development ',
       ' SalEs eXecuTive  -  Sales ', ' SaLeS EXEcUTiVe  -  Sales ',
       ' MaNufacTuRINg DirEcTor  -  Research & Development ',
       ' resEaRcH scIENTiSt  -  Research & Development ',
       ' SALes eXECuTIvE  -  Sales ',
       ' LabORatORy tEChnIcIAn  -  Research & Development ',
       ' LaBorAtOrY teCHNICIAn  -  Research & Development ',
       ' saLEs RePREsentAtiVE  -  Sales ',
       ' laBOrATORY TechNiCiAn  -  Research & Development ',
       ' sALes exECutIVe  -  Sales ',
       ' LabOraToRy technICiAN  -  Research & Development ',
       ' lAborAtORY TeCHNIciAN  -  Research & Development ',
       ' SAlES rePrESentaTIVe  -  Sales ',
       ' mANager  -  Research & Development ',
       ' HEAlThcARe rEPREseNtATIVe  -  Research & Development ',
       ' REsEArCH dIrECTOr  -  Research & Development ',
       ' rESeaRch SCIeNTIST  -  Research & Development ',
       ' SALEs REpRESentatIve  -  Sales ', ' SalES eXecUTiVE  -  Sales ',
       ' SaLes REPREseNtATive  -  Sales ',
       ' ReSeArch sCIEnTiSt  -  Research & Development ',
       ' sales REPReSeNtAtIVe  -  Sales ', ' sAles execUtIve  -  Sales ',
       ' LABOrATORy tEChNiCIaN  -  Research & Development ',
       ' hEalthCarE REPResEnTaTive  -  Research & Development ',
       ' mANagER  -  Research & Development ',
       ' sales repResENTaTiVE  -  Sales ',
       ' laboRAToRY tEChniCIAN  -  Research & Development ',
       ' resEaRcH sCIeNTisT  -  Research & Development ',
       ' maNuFAcTurING diREctOr  -  Research & Development ',
       ' mAnAger  -  Research & Development ',
       ' SALes eXEcUtiVe  -  Sales ',
       ' reSearCh SCiEnTist  -  Research & Development ',
       ' rESEARch SciENtiSt  -  Research & Development ',
       ' hUman ResourCeS  -  Human Resources ',
       ' SALES exeCUtIve  -  Sales ',
       ' ReseaRcH sCientiSt  -  Research & Development ',
       ' LAbORaTory tEcHnIciAN  -  Research & Development ',
       ' lABOraTOrY tecHniciaN  -  Research & Development ',
       ' sALeS exEcUtiVe  -  Sales ', ' salEs eXEcuTIvE  -  Sales ',
       ' SAleS ExEcuTiVE  -  Sales ', ' SaLeS exEcUTiVE  -  Sales ',
       ' ReSEArch scieNTiST  -  Research & Development ',
       ' reSEArCh sCieNtiST  -  Research & Development ',
       ' ReseaRCh dIRecTor  -  Research & Development ',
       ' SaLEs ExECUtiVE  -  Sales ',
       ' LAbORAToRy tEcHNICian  -  Research & Development ',
       ' sAleS EXECUtIvE  -  Sales '], dtype=object)

In [48]:
print(df['NUMBERCHILDREN'].dtype) # tipo decimales
df['NUMBERCHILDREN'].unique() # todos los valores son nan, eliminamos la columna?

float64

array([nan])

In [49]:
print(df['RemoteWork'].dtype) # tipo object
df['RemoteWork'].unique() # unificar criterios

object

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

# Columnas del indice 11 al 20

In [50]:
#Creo un sub data frame con las columnas que quiero mirar
subset_df = df.iloc[:, 11:21] 
subset_df

,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate
0,1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462
1,3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678
2,3,0,58,3,5,ManaGER,4,Married,"19232,0",4933
3,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703
4,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739
...,...,...,...,...,...,...,...,...,...,...
1609,3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518
1610,3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163
1611,13,0,41,4,3,sAlES ExECUTivE,3,Single,NaN,2560
1612,1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952
1613,4,0,75,3,3,mAnUfactURInG DiRECTOr,3,NaN,"10845,0",24208

In [51]:
# Calcular el número de valores nulos en la columna 'mi_columna'
def nulos(data, columna):
    nulos_en_columna = data[columna].isnull().sum()
    return nulos_en_columna

In [52]:
# Encontrar valores nulos
def indices_nulos (df):
    null_values = df.isnull()
    # Usar iloc para encontrar las posiciones de los valores nulos
    for i in range(len(df)):
        for j in range(len(df.columns)):
            if null_values.iloc[i, j]:
                print(f'Valor nulo encontrado en fila {i}, columna {df.columns[j]}')

Miramos cuantos valores nulos hay por columna

In [53]:
nulos_Enviro = nulos (subset_df, ['EnvironmentSatisfaction'])
nulos_Enviro

EnvironmentSatisfaction    0
dtype: int64

In [54]:
nulos_gender = nulos(subset_df, ['Gender'])
nulos_gender

Gender    0
dtype: int64

In [55]:
nulos_HourlyRate = nulos(subset_df, ['HourlyRate'])
nulos_HourlyRate

HourlyRate    0
dtype: int64

In [56]:
nulos_JobInvolvement = nulos(subset_df, ['JobInvolvement'])
nulos_JobInvolvement

JobInvolvement    0
dtype: int64

In [57]:
nulos_JobLevel = nulos(subset_df, ['JobLevel'])
nulos_JobLevel

JobLevel    0
dtype: int64

In [58]:
nulos_JobRole = nulos(subset_df, ['JobRole'])
nulos_JobRole

JobRole    0
dtype: int64

In [59]:
nulos_JobSatisfaction= nulos(subset_df, ['JobSatisfaction'])
nulos_JobSatisfaction

JobSatisfaction    0
dtype: int64

In [60]:
nulos_marital = nulos (subset_df, ['MaritalStatus'])
nulos_marital

MaritalStatus    651
dtype: int64

In [61]:
nulos_income = nulos(subset_df, ['MonthlyIncome'])
nulos_income

MonthlyIncome    843
dtype: int64

In [62]:
nulos_rate = nulos(subset_df, ['MonthlyRate'])
nulos_rate

MonthlyRate    0
dtype: int64

Miramos algunas de las columnas y sus valores

In [63]:
subset_df["MaritalStatus"].unique()

array([nan, 'Married', 'Divorced', 'Single', 'divorced', 'Marreid'],
      dtype=object)

In [64]:
subset_df["JobRole"].unique()
#JobRole hay distintas formas de nombrar los roles, con errores, ademas de minusculas y mayusculas

array([' resEArch DIREcToR ', ' ManAGeR ', ' ManaGER ', ...,
       ' sAlES ExECUTivE ', ' SaLes ExecUtIVe ',
       ' mAnUfactURInG DiRECTOr '], dtype=object)

In [65]:
subset_df["JobLevel"].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [66]:
subset_df["MonthlyRate"].unique()

array([ 6462,  5678,  4933, ..., 15302, 26956, 16642], dtype=int64)

# 2. Eliminacion de columnas que no vamos a usar

In [ ]:
#Estas son las columnas que vamos a eliminar

 
'employeecount' # Porque siempre es el mismo valor y es un contador de los empleados
'Over18' # Porque ya tenemos la edad y tiene muchos valores perdidos
'StandardHours' # Porque todos tienen el mismo valor que es 80 y ademas tienen muchos valores perdidos
'Salary' # Porque es igual a 10000000$ en todos los valores del dataframe
'NUMBERCHILDREN' # Porque no tiene ningun valor y es todo con valores missing.

In [80]:
df_nuevo=df.drop(columns=["employeecount", "Over18", "StandardHours","Salary", "NUMBERCHILDREN"],inplace=True )
df_nuevo.columns

KeyError: "['employeecount', 'Over18', 'StandardHours', 'Salary', 'NUMBERCHILDREN'] not found in axis"

In [72]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'employeecount', 'employeenumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NUMCOMPANIESWORKED', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TOTALWORKINGYEARS', 'TrainingTimesLastYear',
       'WORKLIFEBALANCE', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YEARSWITHCURRMANAGER',
       'SameAsMonthlyIncome', 'DateBirth', 'Salary', 'RoleDepartament',
       'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')