# Analisis y limpieza de las siguiente columnas

* totalworkingyears',
* 'trainingtimeslastyear', 
* 'worklifebalance', 
* 'yearsatcompany',
* 'yearsincurrentrole', 
* 'yearssincelastpromotion', 
* 'yearswithcurrmanager',
* 'sameasmonthlyincome', 
* 'datebirth', 
* 'roledepartament', 
* 'remotework'


Se ha procedido ha la limpieza de las siguientes variables cambiando su formato actual a un formato float

## A) Función unica para totalworkingyears, sameasmonthlyincome,worklifebalance

In [ ]:
# Funición unica que cambia los valores de las columnas de totalworkingyears, sameasmonthlyincome worklifebalance

def cambiar_comas_y_nulos(cadena):
    if pd.isnull(cadena):  # Si es un valor nulo, devuelve NaN
        return np.nan
    try:
        return float(cadena.replace(',', '.'))  # Intenta convertir la cadena a float
    except ValueError:  # Si la conversión falla, devuelve NaN
        return np.nan

# Lista de las columnas que deseas modificar
columnas_a_convertir = ['totalworkingyears', 'sameasmonthlyincome', 'worklifebalance']

# Aplica la función a cada columna en la lista
for columna in columnas_a_convertir:
    df[columna] = df[columna].apply(cambiar_comas_y_nulos)

In [ ]:
print(df['worklifebalance'])

In [ ]:
print(df['totalworkingyears'])

In [ ]:
print(df['sameasmonthlyincome'])

In [ ]:
## B) Funciones separada  totalworkingyears, sameasmonthlyincome,worklifebalance
# worklifebalance
df["worklifebalance"] = df["worklifebalance"].str.replace(",", ".")
# con una función y ya la tenemos para cada vez que la necesitemos
def cambiar_comas(cadena):
    try:
        return float(cadena.replace(',', '.'))
    except:
        return np.nan
df['worklifebalance'] = df['worklifebalance'].apply(cambiar_comas)

In [ ]:
print(df['worklifebalance'])

In [ ]:
#sameasmonthlyincome
df["sameasmonthlyincome"] = df["sameasmonthlyincome"].str.replace(",", ".")
# con una función y ya la tenemos para cada vez que la necesitemos
def cambiar_comas(cadena):
    try:
        return float(cadena.replace(',', '.'))
    except:
        return np.nan
df['sameasmonthlyincome'] = df['sameasmonthlyincome'].apply(cambiar_comas)

In [ ]:
print(df['sameasmonthlyincome'])

In [ ]:
#totalworkingyears
df["totalworkingyears"] = df["totalworkingyears"].str.replace(",", ".")
# con una función y ya la tenemos para cada vez que la necesitemos
def cambiar_comas(cadena):
    try:
        return float(cadena.replace(',', '.'))
    except:
        return np.nan
df['totalworkingyears'] = df['totalworkingyears'].apply(cambiar_comas)

In [ ]:
print(df['totalworkingyears'])

## C) Cambios en la variable yearsincurrentrole

En esta variable se va a hacer un cambio al float pero tiene un elevado numero de valores

In [ ]:
#yearsincurrentrole

df["yearsincurrentrole"] = df["yearsincurrentrole"].astype(str)

# Replace commas with periods
df["yearsincurrentrole"] = df["yearsincurrentrole"].str.replace(",", ".")

In [ ]:
def cambiar_comas(cadena):
    try:
        return float(cadena)
    except:
        return np.nan


df['yearsincurrentrole'] = df['yearsincurrentrole'].apply(cambiar_comas)

print(df)

## D) Cambios en la variable total remote work

Modificamos los valores de la columna 'remotework', 0 y 1, True or False por Yes y No

In [ ]:
df['remotework'].value_counts()

In [ ]:
remotework
1        360
True     345
0        309
False    305
Yes      295
Name: count, dtype: int64

In [ ]:
df['remotework']= df['remotework'].replace({('1'):'Yes',('0') or ('False'): 'No', 'True': 'Yes', 'False': 'No'})

In [ ]:
df['remotework'].value_counts()

In [ ]:
remotework
Yes    1000
No      614
Name: count, dtype: int64

## E) Porcentaje de valores nulos del total dataframe

In [ ]:
porcentaje_nulos = df.isnull().mean() * 100

# Muestra los resultados
print(porcentaje_nulos)

In [ ]:
unnamed: 0                   0.000000
age                          0.000000
attrition                    0.000000
businesstravel              47.831475
dailyrate                    7.682776
department                  81.288724
distancefromhome             0.000000
education                    0.000000
educationfield              46.158612
employeenumber              26.703841
environmentsatisfaction      0.000000
gender                       0.000000
hourlyrate                   0.000000
jobinvolvement               0.000000
joblevel                     0.000000
jobrole                      0.000000
jobsatisfaction              0.000000
maritalstatus               40.334572
monthlyincome               52.230483
monthlyrate                  0.000000
numcompaniesworked           0.000000
overtime                    41.883519
percentsalaryhike            0.000000
performancerating           12.081784
relationshipsatisfaction     0.000000
stockoptionlevel             0.000000
totalworkingyears           32.589839
trainingtimeslastyear        0.000000
worklifebalance              6.691450
yearsatcompany               0.000000
yearsincurrentrole          97.893432
yearssincelastpromotion      0.000000
yearswithcurrmanager         0.000000
sameasmonthlyincome         52.230483
datebirth                    0.000000
roledepartament             81.288724
remotework                   0.000000
dtype: float64

## F) Otras consideraciones

In [ ]:
Habría que eliminar la columa roledepartament ya que es la suma de las otras 2 columnas del data frame