In [1]:
 #importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
# antes de empezar vamos a leer los datos, con el método .read_csv (o excel o...)
#tmb usamos el método .head(1) para ver la primera fila
df = pd.read_csv("df_sin_nulos.csv")
df.columns

Index(['employeenumber', 'age', 'attrition', 'businesstravel', 'dailyrate',
       'distancefromhome', 'education', 'educationfield',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'datebirth', 'remotework'],
      dtype='object')

In [4]:
columnas_seleccionadas = ['employeenumber', 'age','education', 'educationfield', 'gender', 'maritalstatus', 'datebirth']
personal_employee = df[columnas_seleccionadas]
personal_employee.head(1)

,employeenumber,age,education,educationfield,gender,maritalstatus,datebirth
0,1620,51,3,life sciences,Male,married,1972

In [5]:
columnas_seleccionadas1 = ['employeenumber', 'attrition', 'businesstravel', 'distancefromhome', 'environmentsatisfaction','jobinvolvement','jobsatisfaction', 'numcompaniesworked', 'overtime','relationshipsatisfaction','worklifebalance']
job_satisfaction = df[columnas_seleccionadas1]
job_satisfaction.head(1)

,employeenumber,attrition,businesstravel,distancefromhome,environmentsatisfaction,jobinvolvement,jobsatisfaction,numcompaniesworked,overtime,relationshipsatisfaction,worklifebalance
0,1620,No,travel rarely,6,1,3,3,7,No,3,3.0

In [6]:
columnas_saleccionadas2 = ['employeenumber', 'dailyrate', 'hourlyrate', 'joblevel', 'jobrole', 'monthlyincome', 'monthlyrate', 'percentsalaryhike', 'performancerating', 'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear', 'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager', 'remotework']
job_data = df[columnas_saleccionadas2]
job_data.head(1)

,employeenumber,dailyrate,hourlyrate,joblevel,jobrole,monthlyincome,monthlyrate,percentsalaryhike,performancerating,stockoptionlevel,totalworkingyears,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,remotework
0,1620,684.0,51,5,research director,195370.0,6462,13,3.0,0,10.0,5,20,15,15,Yes

In [19]:
personal_employee.to_csv("personal_employee.csv", index = False)

In [7]:
job_satisfaction.to_csv("job_satisfaction.csv", index = False)

In [8]:
job_data.to_csv("job_data.csv", index = False)