In [183]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar las hipotesis de las relaciones entre las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest,chi2_contingency,ttest_ind

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [184]:
df=pd.read_csv("df_transformado_limpio.csv",index_col=0)

In [185]:
df.head()

,age,attrition,businesstravel,dailyrate,distancefromhome,education,educationfield,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,datebirth,remotework
employeenumber,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1620,51,No,travel rarely,684.0,6,3,life sciences,1,Male,51,3,5,research director,3,married,195370.0,6462,7,No,13,3.0,3,0,10.0,5,3.0,20,15,15,1972,Yes
2590,52,No,travel rarely,699.0,1,4,life sciences,3,Male,65,2,5,manager,3,married,199990.0,5678,0,No,14,3.0,1,1,34.0,5,3.0,33,11,9,1971,Yes
3190,42,No,travel rarely,532.0,4,2,technical degree,3,Male,58,3,5,manager,4,married,192320.0,4933,1,No,11,3.0,4,0,22.0,3,2.8,22,11,15,1981,Yes
20681,47,No,travel rarely,359.0,2,4,medical,1,Female,82,3,4,research director,3,married,171690.0,26703,3,No,19,3.0,2,2,10.0,2,2.8,20,5,6,1976,No
19000,48,No,travel rarely,117.0,22,3,medical,4,Female,58,3,4,manager,4,married,171740.0,2437,3,No,11,3.0,2,1,10.0,3,3.0,22,4,7,1975,Yes

In [186]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'distancefromhome',
       'education', 'educationfield', 'environmentsatisfaction', 'gender',
       'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole',
       'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate',
       'numcompaniesworked', 'overtime', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework'],
      dtype='object')

In [187]:
def categorizar_grupos(numero):
    if numero >= 3:
        return "grupo A"
    else:
        return "grupo B"
    

df["gruposatisfaccion"]= df["jobsatisfaction"].apply(categorizar_grupos)

In [188]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'distancefromhome',
       'education', 'educationfield', 'environmentsatisfaction', 'gender',
       'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole',
       'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate',
       'numcompaniesworked', 'overtime', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework', 'gruposatisfaccion'],
      dtype='object')

In [189]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'distancefromhome',
       'education', 'educationfield', 'environmentsatisfaction', 'gender',
       'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole',
       'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate',
       'numcompaniesworked', 'overtime', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework', 'gruposatisfaccion'],
      dtype='object')

In [190]:
def asignar_grupos(valor):
    if valor >= 3:
        return "Group A"
    else:
        return "Group B"

df['jobsatisfaction2'] = df['jobsatisfaction'].map(asignar_grupos)
df['environmentsatisfaction2'] = df['environmentsatisfaction'].map(asignar_grupos)
df['worklifebalance2'] = df['worklifebalance'].map(asignar_grupos)

In [191]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'distancefromhome',
       'education', 'educationfield', 'environmentsatisfaction', 'gender',
       'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole',
       'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate',
       'numcompaniesworked', 'overtime', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework', 'gruposatisfaccion', 'jobsatisfaction2',
       'environmentsatisfaction2', 'worklifebalance2'],
      dtype='object')

In [192]:
df['attrition'].value_counts()

attrition
No     903
Yes    177
Name: count, dtype: int64

In [193]:
porcentaje_Y = (df['attrition'].value_counts(normalize=True) * 100)['Yes']
porcentaje_N = (df['attrition'].value_counts(normalize=True) * 100)['No']
print(porcentaje_Y, porcentaje_N)

16.38888888888889 83.61111111111111

In [194]:

def porcentaje_ido(df, columnas):
    resultados = {}
    for columna in columnas:
        empleados_por_grupo = df.groupby(columna).size()
        empleados_idos_por_grupo = df[df['attrition'] == 'Yes'].groupby(columna).size()
        tasa_rotacion_por_grupo = (empleados_idos_por_grupo / empleados_por_grupo) * 100
        
        # Reemplazar NaN con 0 para grupos sin empleados que se han ido
        tasa_rotacion_por_grupo = tasa_rotacion_por_grupo.fillna(0)
        
        resultados[columna] = tasa_rotacion_por_grupo
    
    return pd.DataFrame(resultados)

# Calculamos la tasa de rotación
columnas = ['jobsatisfaction2', 'worklifebalance2', 'environmentsatisfaction2']
resultado_tasa_rotacion = porcentaje_ido(df, columnas)
print(resultado_tasa_rotacion)

         jobsatisfaction2  worklifebalance2  environmentsatisfaction2
Group A         14.135338         15.395284                 13.970588
Group B         20.000000         18.384401                 20.500000

H0 - Hipótesis nula: No existe una relación entre el nivel de satisfacción en el trabajo y la rotación de empleados en la empresa. Se sospecha que los empleados con niveles de satisfacción más bajos no tienen una mayor probabilidad de dejar la empresa

H1 - Hipótesis alternativa : Existe una relación entre el nivel de satisfacción en el trabajo y la rotación de empleados en la empresa. Se sospecha que los empleados con niveles de satisfacción más bajos tienen una mayor probabilidad de dejar la empresa

In [195]:
def normalidad(dataframe, columna):
    statistic, p_value = stats.shapiro(dataframe[columna])
    if p_value > 0.05:
        print(f"Para la columna {columna} los datos siguen una distribución normal.")
    else:
        print(f"Para la columna {columna} los datos no siguen una distribución normal.")

In [196]:
# Convertir Y = 1 y N = 0
df['attrition'] = df['attrition'].map({'Y': 1, 'N': 0})

In [197]:
metricas = ['attrition']

for metrica in metricas:
    normalidad(df ,metrica)

Para la columna attrition los datos no siguen una distribución normal.

In [198]:
def homogeneidad (dataframe, columna, columna_metrica):
     
    # lo primero que tenemos que hacer es crear tantos conjuntos de datos para cada una de las categorías que tenemos, Control Campaign y Test Campaign
    valores_evaluar = []
    
    for valor in dataframe[columna].unique():
        valores_evaluar.append(dataframe[dataframe[columna]== valor][columna_metrica])

    statistic, p_value = stats.levene(*valores_evaluar)
    if p_value > 0.05:
        print(f"Para la métrica {columna_metrica} las varianzas son homogéneas entre grupos.")
    else:
        print(f"Para la métrica {columna_metrica}, las varianzas no son homogéneas entre grupos.")

In [199]:
metricas = ['attrition']

for metrica in metricas:
    homogeneidad(df ,"jobsatisfaction2", metrica)

Para la métrica attrition, las varianzas no son homogéneas entre grupos.

In [200]:
#¡Rechazamos la hipótesis nula! Es decir Existe una relación entre el nivel de satisfacción en el trabajo y la rotación de empleados en la empresa. Se sospecha que los empleados con niveles de satisfacción más bajos tienen una mayor probabilidad de dejar la empres